* {
  margin: 0;
  padding: 0;
}

body{
	background-color: ;
}

.page {
	padding-top: 45px;
}

a {
	text-decoration: none;
}

.pageWidth {
	width: 800px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
}

a {
	color: black;
}

@media (max-width: 800px) {
	.pageWidth {
		width: 95%;
	}
}