#mainPage {
	position: relative;
}

.blogPosts {
	width: 600px;
	margin: 0 auto;
}

.profile {
	height: 100vh;
	width: 100%;
	display: table;
}

.profileElements {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.profileName {
	font-family: 'Lora';
	font-weight: 700;
	font-size: 40px;
}

.profileDescription {
	font-family: 'Lora';
	font-weight: 400;
	font-size: 20px;
}